*.iml
*/.idea/
*/.mvn/
*/target
fzc/catalina.base_IS_UNDEFINED
catalina.base_IS_UNDEFINED/
hive-client/catalina.base_IS_UNDEFINED


/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


